.header {
    max-width: 1920px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerLogo {
    display: flex;
    align-items: center;
}

.headerBooksIcon {
    height: 40px;
    width: 40px;
    padding-left: 30px;
    padding-right: 10px;
}

.myInputName {
    margin-right: 30px;
    border: 0;
    width: 200px;
}

li {
    margin-bottom: 50px;
    border-radius: 20px;
    background-image: linear-gradient(rgb(194, 255, 208), azure, rgb(194, 255, 208));
    border-width: 0;
    border-style: solid;
    max-width: 500px;
    width: 100%;
    background-color: white;

}

table {
    margin-left: 30px;
    margin-top: 30px;
}

.row1{
    width: 130px;
}

.priceAndLikes {
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;

}

.priceAndLikesInner {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.myInputComment {
   
    width: 80%;
    margin-bottom: 20px;

}