.heartOn {
    height: 50px;
    width: 50px;
}

.heartOff {
    height: 50px;
    width: 50px;
}

.heartOn:hover {
    transform: scale(1.3);
    transition-duration: 0.5s;
}

.heartOff:hover {
    transform: scale(1.3);
    transition-duration: 0.5s;
}

.letsRed::placeholder {
    color: red;
}

.content0 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    margin: 0;
}

.tempImg {
    height: 150px;
    width: 200px;
    padding-top: 20px;
}
.myPrice{
    font-size: 24px;
    font-weight: bold;
}
.likesAndHeart{
    font-display: flex;
    flex-direction: column;
}
.myLikes{
    text-align: center;
}