body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: azure;
}

header {
    height: 100px;
    width: 100%;
    background-image: linear-gradient(to bottom, azure, rgb(92, 247, 68), azure);
    display: flex;
    justify-content: center;
}

.switchOff {
    display: none;
}